@charset "UTF-8";
/* CSS Document */

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear: both;
}
nav {
	position:relative;
	text-align:left;
	margin-bottom:20px;
	font-size:18px;
	background-color:#442500;
	height:auto;
	padding:15px 15px 25px 7px;
}
nav ul {
	width:900px;
	margin:0 auto;
	height:30px;
	list-style:none;
}
nav ul li{
	display:inline;
	float:left;
}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
 	-webkit-box-sizing:border-box;
}
nav a {
	color:white;
	padding-right:50px;
	display:inline-block;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-decoration:none;
	text-transform:uppercase;
}
nav a:hover {
	color:#0B8606;
}

@media only screen and (max-width : 600px) {

nav {
	height:auto;
}

nav ul {
	width:100%;
	display:block;
	height:auto;
}
nav li {
	float:left;
	width:100%;
	line-height:40px;
	position:relative;
}
nav a {
	width:100%;
}
}
@media only screen and (max-width : 480px) {
	nav ul {
		display:none;
		height:auto;
		margin:0 auto;
}
	nav ul li {
		line-height:40px;
}
	nav a#pull {
  		width: 100%;
  		position: relative;
		height:18px;
		margin-left:5px;
 }
 	nav a#pull:after {
		line-height:15px;
 	 	content:"";
  		background: url('dropdown-menu copy.png') no-repeat;
		background-position:left;
  		width: 50px;
  		height: 40px;
  		display: inline-block;
}
}